.wrap {
    margin-left: var(--paddings-x, 0);
    margin-top: 10px;
    color: var(--color-alert);
    font-size: 15px;
    line-height: 1.2em;
    display: grid;
    align-items: center;
    grid-template-columns: 18px 1fr;
    gap: 5px;
}

.wrap svg {
    width: 18px;
    height: 18px;
    stroke: var(--color-alert);
}
