.btn {
    margin-bottom: 20px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--gradient-primary);
    box-shadow: var(--shadow-primary);
    transition: box-shadow 0.2s;
}

.btn:focus {
    outline: none;
}

.btn svg {
    width: 24px;
    height: 24px;
    transition: opacity 0.2s;
}

.btn:focus-visible,
.btn:focus,
.btn:hover {
    box-shadow: none;
}

.btn:focus-visible svg,
.btn:focus svg,
.btn:hover svg {
    opacity: 0.6;
}
